:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);

  --ff-primary: "Figtree", sans-serif;

  --fs-primary: 12px;
  --fs-secondary: 14px;
  --fs-header: 20px;
  --fs-large: 24px;
  --fs-normal: 16px;

  --fw-light: 100;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 900;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* this it to center to the screen */
body {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-yellow);
}

main {
  padding: 24px;
}

/* for responsive images generally set: 
display: block;
width: 100%;
height: auto;
*/
.card__illustration {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  max-width: 384px;
  border: 1px solid var(--clr-black);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 var(--clr-black);
  background-color: var(--clr-white);
}

.card__body {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}

.card__type {
  display: inline-block;
  width: fit-content;
  padding: 4px 12px;
  font-size: var(--fs-primary);
  font-weight: var(--fw-bold);
  background-color: var(--clr-yellow);
  border-radius: 4px;
}

.card__date {
  font-size: var(--fs-primary);
  font-weight: var(--fw-medium);
}

.card__title {
  font-size: var(--fs-header);
  font-weight: var(--fw-bold);
}

.card__title a {
  text-decoration: none;
  color: var(--clr-black);
  transition: color 0.15s ease-in;
}

.card__title a:hover {
  color: var(--clr-yellow);
}

.card__content {
  font-size: var(--fs-secondary);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--clr-grey);
}

.card__author {
  display: flex;
  align-items: center;
  font-size: var(--fs-secondary);
  font-weight: var(--fw-bold);
}

.card__avatar {
  display: block;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.card__author p {
  padding-left: 12px;
}

@media (min-width: 576px) {
  .card__type {
    font-size: var(--fs-secondary);
  }
  .card__date {
    font-size: var(--fs-secondary);
  }

  .card__title {
    font-size: var(--fs-large);
  }

  .card__content {
    font-size: var(--fs-normal);
  }
}